<!-- ***** Contact & Footer Start ***** -->
<footer>	
	<div class="container">		
		<div class="col-lg-12" style="text-align:center">
			<p class="copyright">2019-2022 © FinlChain Block Explorer</p>
		</div>		
	</div>	
</footer>
<!-- ***** Contact & Footer End ***** -->