<script>
	const dataObj = {};
	$(document).ready(function () {

		const trans = '<%=trans%>', blkNum = '<%=blkNum%>', blkHash = '<%=blkHash%>';

		dataObj.trans = trans && trans;
		dataObj.blkNum = blkNum && blkNum;
		dataObj.blkHash = blkHash && blkHash;

		//if obj is empty or undefined
		if ((dataObj && Object.keys(dataObj).length === 0 && dataObj.constructor === Object)
			|| (dataObj && dataObj.blkNum == 'undefined' && dataObj.constructor === Object)) {
			window.location.href = URL + '/error-page/' + 'default';

		} else {
			selectAjax(dataObj);
		}
	});

	/**
	 * fetching detail data for blocks  
	 * @event accountAjax
	 * @param 
	 */
	function selectAjax(data) {
		$.ajax({
			type: "get",
			url: `${URL}${BLK_INFO}`,
			data: data,
			success: function (d) {
				if(d.data == 'error')
				{
					window.location.href = URL + '/error-page/' + 'default';	
				}else
				{
					tableStart(d);
				}				
			},
			error: function (request, status, error) {
				window.location.href = URL + '/error-page/' + 'default';
				//	console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			},
		});

		/**
		 * displaying detail data on page  
		 * @event tableStart
		 * @param 
		 */
		function tableStart(d) {

			if (d.data.errorCode == 3000) {
				window.location.href = URL + '/error-page/' + d.data.contents.msg;
			}

			const allData = d.data.contents.blkInfo;
			let time = allData.bgt;

			//age
			time = time * 1;
			const tt = moment(time).fromNow();			
			const age = `${tt.split(' ')[0]}` + ' ' + `${tt.split(' ')[1]}` + ' ' + `${tt.split(' ')[2]}`;
			//generated time
			const bgt = getPullTime(Number(allData.bgt)) || '';
			//time = age | generated time
			$('#bgt').html(age + ' | ' + bgt);

			//const bgt = getPullTime(Number(allData.bgt)) || '';
			const blk_hash = allData.blk_hash || '';
			const blk_num = leftZeroDelet(allData.blk_num) || '';
			const blkNum = blk_num;//new Intl.NumberFormat().format(blk_num);
			const p2p_addr = allData.p2p_addr || '';
			const pbh = allData.pbh || '';
			const pubkey = base58(allData.pubkey) || '';
			//	console.log("pubkey:" + pubkey);

			const sig = allData.sig || '';
			const subnet_id = allData.subnet_id || '';
			const tx_cnt = allData.tx_cnt == 0 ? allData.tx_cnt : allData.tx_cnt;

			$('#blockNo').html(blkNum);
			$('#txCount').html(tx_cnt);
			$('#bp').html(subnet_id);

			if (detectMob()) {
				$('#sig').html(
					`<div>			
						<span value="${sig}" data-title="${sig}">${CheckMaxString(sig, 15)}
						</span>
					</div>`
				);
				$('#sigCopy').html(
					`<span value="${sig}" class="image" alt="logo"	OnClick="javascript:copy_to_clipboard('${sig}')"></span>`
				);

				$('#blockHash').html(
					`<div>			
						<span value="${blk_hash}" data-title="${blk_hash}">${CheckMaxString(blk_hash, 17)}
						</span>
					</div>`
				);
				$('#blockHashCopy').html(
					`<span value="${blk_hash}" class="image" alt="logo"	OnClick="javascript:copy_to_clipboard('${blk_hash}')"></span>`
				);

				$('#pubKey').html(
					`<div>			
						<span value="${pubkey}" data-title="${pubkey}">${CheckMaxString(pubkey, 17)}
						</span>
					</div>`
				);
				$('#pubKeyCopy').html(
					`<span value="${pubkey}"  class="image" alt="logo"OnClick="javascript:copy_to_clipboard('${pubkey}')" ></span>`
				);
			}
			else {
				$('#sig').html(
					`<div>			
						<span value="${sig}" data-title="${sig}">${CheckMaxString(sig, 50)}
						</span>
					</div>`
				);
				$('#sigCopy').html(
					`<span value="${sig}" class="image" alt="logo"
							OnClick="javascript:copy_to_clipboard('${sig}')" >
					</span>`
				);

				$('#blockHash').html(
					`<div>			
						<span value="${blk_hash}" data-title="${blk_hash}">${CheckMaxString(blk_hash, 50)}
						</span>
					</div>`
				);
				$('#blockHashCopy').html(
					`<span value="${blk_hash}" class="image" alt="logo"	OnClick="javascript:copy_to_clipboard('${blk_hash}')" ></span>`
				);

				$('#pubKey').html(
					`<div>			
						<span value="${pubkey}" data-title="${pubkey}">${pubkey}
						</span>
					</div>`
				);
				$('#pubKeyCopy').html(
					`<span value="${pubkey}"  class="image" alt="logo"	OnClick="javascript:copy_to_clipboard('${pubkey}')" ></span>`
				);

			}

			blk_num && transDetailsTable(blk_num, age);

		};
		
		/**
		 * rendering datatable for transaction data
		 * @event transDetailsTable
		 * @param
		 */
		function transDetailsTable(blk_num, age) {

			$.ajax({
				type: "get",
				url: `${URL}${TRANS}`,
				data: { 'trans': blk_num },
				success: function (data) {

					const table = $('#txns-config').DataTable({
						"createdRow": function (row, data, index) { //index = row
							$('td', row).eq(0).attr('id', 'txns-' + index + '-hash');
							$('td', row).eq(2).attr('id', 'txns-' + index + '-from');
							$('td', row).eq(3).attr('id', 'txns-' + index + '-to');
							$('td', row).eq(0).attr('val', data.hash);
							$('td', row).eq(2).attr('val', data.fromAccHexa);
							$('td', row).eq(3).attr('val', data.toAccHexa);
						},
						"data": data.result,
						"columnDefs": [
							{ targets: [0], className: 'alignLeft cursorPointer' },
							{ targets: [2, 3], className: 'alignLeft cursorPointer' },
							{ targets: [5], className: 'alignLeft' },
							{ targets: [1, 4, 7], className: 'alignLeft' },
							{ targets: [8, 9, 10], visible: false },
							{
								'bSortable': false,
								'aTargets': [0, 2, 3, 4]
							},
							{
								"render": function (data, type, row) {
									return "#" + data
								},
								"targets": 1
							},
						],
						"columns": [
							{ "data": "shortenHash" },
							{ "data": "blk" },
							{ "data": "fromAccHexa" },
							{ "data": "toAccHexa" },
							{ "data": "type" },
							{ "data": "amount" },
							{ "data": "token" },
							{ "data": "status" },
							{ "data": "fromAccDecimal" },
							{ "data": "toAccDecimal" },
							{ "data": "hash" },
						],
						"searching": false,
						"ordering": false,
						"paging": true,
						"info": true,
						"stripeClasses": [],
						"lengthChange": false,
						//"lengthMenu": [10, 20, 30, 40, 50],
						//"displayLength": 20,
						"pageLength": 20,
						"order": [[0, 'desc']]
					});
					//move to Detail page
					$('#txns-config tbody').on('click', 'tr', function () {

						const target = $(event.target);
						$td = target.closest('td');
						const headerName = $td.closest('table').find('th').eq($td.index())[0].innerText

						const data = table.row(this).data();

						if (headerName == 'Txn Hash') {
							window.location.href = URL + "/trans-hash-details/" + data.hash;
						}
						else if (headerName == 'From') {

							window.location.href = URL + "/account-details/" + data.fromAccDecimal;
						}
						else if (headerName == 'To') {

							window.location.href = URL + "/account-details/" + data.toAccDecimal;
						}

					});

					for (let i = 0; i < table.data().rows().count(); i++) {
						// block default context menu
						document.getElementById("txns-" + i + "-hash").addEventListener("contextmenu", function (e) { e.preventDefault(); });
						document.getElementById("txns-" + i + "-from").addEventListener("contextmenu", function (e) { e.preventDefault(); });
						document.getElementById("txns-" + i + "-to").addEventListener("contextmenu", function (e) { e.preventDefault(); });

						//display custom context menu
						$("#txns-" + i + "-hash").mousedown(function (ev) {
							//1. mouse left click 
							//2. mouse middle click  
							//3. mouse right click 
							if (ev.which == 3) {
								createContextMenu("#txns-" + i + "-hash");
							}
						});

						$("#txns-" + i + "-from").mousedown(function (ev) {							
							if (ev.which == 3) {
								createContextMenu("#txns-" + i + "-from");
							}
						});

						$("#txns-" + i + "-to").mousedown(function (ev) {							
							if (ev.which == 3) {
								createContextMenu("#txns-" + i + "-to");
							}
						});
					}
				},
				error: function (request, status, error) {
					//		console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				},
			});
		};

	};
</script>