<!-- NAVBAR HOME-->
<%- include('../../pages/navBar/navBarTokenDetails') %>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <!--  BEGIN OVERLAY  -->
    <div class="overlay"></div>
    <div class="cs-overlay"></div>
    <div class="search-overlay"></div>
    <!-- END OVERLAY -->

    <!--Account-->
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">          
            <!--  SEARCH BAR  -->    
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">             
                <%- include('../../pages/navBar/searchBar') %>    
            </div>       

            <!--  BEGIN CONTENT PART  -->    
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">    
                <h3 class="page-title" style="margin:30px 0px 20px 20px">Detail</h3>
            </div>
      
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-account-invoice-two">
                    <div class="widget-content">
                        <div class="account-box">
                            <div class="info">
                                <div class="inv-title">
                                    <!-- <h5 id="tokenName"></h5> -->
                                </div>
                                <div class="inv-balance-info">
                                    <p class="inv-balance" id="tokenName"></p>
                                    <!-- <span class="inv-stats balance-credited">+ 2453</span>                                     -->
                                </div>
                            </div>
                            <div class="info">
                                <div class="coinlogo" id="tokenLogo" style="display: none">
                                    <!-- <img  alt="logo" style="width:60px; height:60px" src="/images/finl_coin_dev.svg"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tokenInfo-container">
                    <div class="detailInfo1-box" id="tokenName">
                    </div>
                </div> -->
            </div>

            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 layout-spacing">
                <div class="detailInfoRow-container">
                    <div class="detailInfoCellColor1-container">
                        <div class="title2-box">
                            Price
                        </div>
                        <div class="detailInfo2-box" id="price">
                        </div>
                    </div>
                    <div class="detailInfoCellColor1-container">
                        <div class="title2-box">
                            Total Supply
                        </div>
                        <div class="detailInfo2-box" id="totSupply">
                        </div>
                    </div>
                    <div class="detailInfoCellColor1-container">
                        <div class="title2-box">
                            Market Supply
                        </div>
                        <div class="detailInfo2-box" id="marketSupply">
                        </div>
                    </div>
                    <!-- <div class="title2-box">
                        Holders
                    </div>
                    <div class="detailInfo2-box" id="holders">
                    </div>
              
                    <div class="title2-box">
                        Transfers
                    </div>
                    <div class="detailInfo2-box" id="transfers">
                    </div> -->
                </div>
                <div class="detailInfoRow-container">
                    <div class="detailInfoCellColor2-container">
                        <div class="title2-box">
                            Create Time
                        </div>
                        <div class="detailInfo2-box" id="createtm">
                        </div>
                    </div>
                    <div class="detailInfoCellColor2-container">
                        <div class="title2-box">
                            Block No
                        </div>
                        <div class="detailInfo2-box" id="blocknum">
                        </div>
                    </div>
                    <div class="detailInfoCellColor3-container">
                        <div class="title2-box">
                            Account No
                        </div>
                        <div class="detailInfo2-box" id="account">
                        </div>
                        <div class="copyicon" id="accountCopy">

                        </div>
                    </div>
                </div>
                <div class="detailInfoRow-container">
                    <div class="detailInfoCellColor1-container">
                        <div class="title2-box">
                            Owner PubKey
                        </div>
                        <div class="detailInfo2-box" id="ownerPk">
                        </div>
                        <div class="copyicon" id="ownerPkCopy">

                        </div>
                    </div>
                    <div class="detailInfoCellColor2-container">
                        <div class="title2-box">
                            Official Web
                        </div>
                        <div class="detailInfo2-box" id="officialWeb">
                        </div>
                    </div>
                </div>
                <div class="detailInfoRow-container">
                    <div class="detailInfoCellColor3-container">
                        <div class="title2-box">
                            Super PubKey
                        </div>
                        <div class="detailInfo2-box" id="superPk">
                        </div>
                        <div class="copyicon" id="superPkCopy">

                        </div>
                    </div>
                    <div class="detailInfoCellColor1-container">
                        <div class="title2-box">
                            Social Profiles
                        </div>
                        <div class="detailInfo2-box" id="socialProfiles">
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
                <div class="tokenTable">
                    <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-transfer-tab" data-toggle="pill" href="#pills-transfer"
                                role="tab" aria-controls="pills-transfer" aria-selected="true">Token Transfer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="pills-holders-tab" data-toggle="pill" href="#pills-holders"
                                role="tab" aria-controls="pills-holders" aria-selected="true">Token Holders</a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" id="pills-analysis-tab" data-toggle="pill" href="#pills-analysis"
                                role="tab" aria-controls="pills-analysis" aria-selected="false">Analysis</a>
                        </li> -->

                        <li class="nav-item">
                            <a class="nav-link" id="pills-tokennft-tab" data-toggle="pill" href="#pills-tokennft"
                                role="tab" aria-controls="pills-tokennft" aria-selected="false">NFT</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-transfer" role="tabpanel"
                            aria-labelledby="pills-transfer-tab">
                            <div class="table-responsive">
                                <table id="tokentr-config" class="table dt-table-hover dataTable"
                                    style="width:100%; margin: 0 auto 8px;" role="grid"
                                    aria-describedby="tokentr-config_info">
                                    <thead style="background-color: #f4e6e6;">
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 200px;">Txn Hash</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">Block No</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 120px;">From</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 120px;">To</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">Action</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">Amount</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 70px;">Token</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">Status</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" >From</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" >To</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="pills-holders" role="tabpanel"
                            aria-labelledby="pills-holders-tab">
                            <div class="table-responsive">
                                <table id="holders-config" class="table dt-table-hover dataTable"
                                    style="width:100%; margin: 0 auto 8px;" role="grid"
                                    aria-describedby="holders-config_info">
                                    <thead style="background-color: #f4e6e6;">
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">Rank</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">My Account No</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">Balance</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">Percentage</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" > Account No Decimal</th>
                                        </tr>
                                    </thead>
                                    <tbody id="holders">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade show" id="pills-analysis" role="tabpanel"
                            aria-labelledby="pills-analysis-tab">
                            <div class="table-responsive">
                                <table id="analysis-config" class="table dt-table-hover dataTable"
                                    style="width:100%; margin: 0 auto 8px;" role="grid"
                                    aria-describedby="analysis-config_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">Txn Hash
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 200px;">Block
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 200px;">From
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">To
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 151px;">Action
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 300px;">Amount
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">token
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <div class="tab-pane fade show" id="pills-tokennft" role="tabpanel"
                            aria-labelledby="pills-tokennft-tab">
                            <div class="table-responsive">
                                <table id="tokennft-config" class="table dt-table-hover dataTable"
                                    style="width:100%; margin: 0 auto 8px;" role="grid"
                                    aria-describedby="tokennft-config_info">
                                    <thead style="background-color: #f4e6e6;">
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 90px;">
                                                Name
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 90px;">
                                                Symbol
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 160px;">
                                                NFT Name
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 300px;">
                                                Hash
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">
                                                Action Target
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">
                                                Contract Action
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 200px;">
                                                Total Transfers
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                  

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <!--  END CONTENT PART  -->

    <!-- SEARCH FILTER MENU-->
    <div class="filter-dropdown-menu" id="drop-content" style="display: none;">
        <ul>
            <li onClick="setFilter('All Filters');"> All Filters</li>
            <li onClick="setFilter('Token Sym.');"> Token Sym.</li>
            <li onClick="setFilter('Token Name');"> Token Name</li>
            <li onClick="setFilter('Account ID');"> Account ID</li>
            <li onClick="setFilter('Account No.');"> Account No.</li>
            <li onClick="setFilter('Txn ID');"> Txn ID</li>
            <li onClick="setFilter('Block No.');"> Block No.</li>
        </ul>
    </div>
</div>

<style>
    .navbar .navbar-item .nav-item.user-profile-dropdown a.user .media img {
        box-shadow: 0 0px 0px rgb(0 0 0 / 7%), 0 0px 0px rgb(0 0 0 / 14%);
    }

    .layout-px-spacing {
        padding: 0 32px!important;
        min-height: calc(100vh - 125px)!important;
    }

    .layout-spacing {
        padding: 0px 10px 20px;
    }

    .layout-top-spacing {
        margin-top: 20px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 1200px;
        overflow: auto;
        max-width: 1200px;
        margin: 0px auto;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }  
    
    .tokenInfo-container {
        display: grid;
        height: auto;
        justify-content: center;
        background-color: #fff;
        background-clip: border-box;
        padding: 50px 50px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
        box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
    }

    .widget-account-invoice-two {
        padding: 10px 20px;
        flex-basis: 280px;
        height: 200px;
    }

    .widget-account-invoice-two .account-box {
        width: 55px;
    }

    .coinlogo {
        padding: 10px;
        border-radius: 50px;
        background-color: #fff;
    }

    .title-box {
        padding: 0px 10px;
        align-self: center;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #6d6d6d;
    }

    .detailInfoRow-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: 900px;
        height: auto;
    }

    .detailInfoCellColor1-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-content: stretch;
        height: auto;
        background-color: rgba(220, 207, 247, 0.34);
        background-clip: border-box;
        padding: 20px 30px;
        margin: 0px 5px 10px 5px;
    }

    .detailInfoCellColor2-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-content: stretch;
        height: auto;
        background-color: rgba(186, 231, 255, 0.34);
        background-clip: border-box;
        padding: 20px 30px;
        margin: 0px 5px 10px 5px;
    }

    .detailInfoCellColor3-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-content: stretch;
        height: auto;
        background-color: rgba(255, 236, 203, 0.34);
        background-clip: border-box;
        padding: 20px 30px;
        margin: 0px 5px 10px 5px;
    }

    .title2-box {
        padding: 0px 10px;
        align-self: center;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: #6d6d6d;
    }

    .detailInfo1-box {
        padding: 0px 10px;
        align-self: center;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: black;
    }

    .detailInfo2-box {
        padding: 0px 10px;
        align-self: center;
        text-align: left;
        font-size: 17px;
        font-weight: 600;
        color: #d52e30;
        /* flex: 1 1 100px; */
    }

    .copyicon {
        justify-content: right;
        align-self: center;
        cursor: pointer;
    }

    .image {
        width: 20px;
        height: 30px;
        content: url("/images/copy.svg");
    }

    /* Hash의 길이가 다른 문제점을 해결하기 위해 문자당 width가 같은 monospace 계열 폰트를 사용
    : Courier, Courier New, Lucida, Console, Monaco */
    .monospace {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    .alignLeft {
        text-align: left;
    }

    .alignProgressTd {
        text-align: left;
        align-items: center;
    }

    .alignRight {
        text-align: right;
    }

    .alignCenter {
        text-align: center;
    }

    .textColor {
        color: #d52e30;
    }

    .cursorPointer {
        cursor: pointer;
    }

    .cursorPointer:hover {
        color: #d52e30;
    }

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        width: 100%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .tokenTable {
        flex-basis: 1200px;
        max-width: 1200px;
        padding: 15px 30px;
        position: relative;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
        background-color: #fff;
        color: black;
        box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
    }

    th,
    td {
        white-space: nowrap;
        overflow: hidden;
    }




    .widget-account-invoice-two .account-box h5 {
        font-size: 18px;
        font-weight: 400;
    }

    .widget-account-invoice-two .account-box .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    #tokentr-config thead .sorting,
    #tokentr-config thead .sorting_asc,
    #tokentr-config thead .sorting_desc {
        background: none;
        cursor: default;
    }

    #holders-config thead .sorting,
    #holders-config thead .sorting_asc,
    #holders-config thead .sorting_desc {
        background: none;
        cursor: default;
    }

    #analysis-config thead .sorting,
    #analysis-config thead .sorting_asc,
    #analysis-config thead .sorting_desc {
        background: none;
        cursor: default;
    }

    #tokennft-config thead .sorting,
    #tokennft-config thead .sorting_asc,
    #tokennft-config thead .sorting_desc {
        background: none;
        cursor: default;
    }


    .custom-context-menu {
        position: absolute;
        box-sizing: border-box;
        height: 30px;
        min-width: 100px;
        background-color: #f9d781;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

    .custom-context-menu ul {
        list-style: none;
        padding: 0;
        background-color: transparent;
    }

    .custom-context-menu li {
        padding: 3px 5px;
        cursor: pointer;
        color: black;
        font-weight: 400;
    }

    .custom-context-menu li:hover {
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        border-radius: 0.25rem;
    }

    .form-control {
        height: auto;
    }

    .form-control:focus {
        box-shadow: 0 0 0px 0px rgb(194 213 255 / 62%);
        border: 1px solid #bfc9d4;
    }

    .input-group>.form-control:not(:first-child),
    .input-group>.custom-select:not(:first-child) {
        border-left: 0;
        border-right: 0;
    }

    .input-group .input-group-prepend .input-group-text {
        border: 1px solid #bfc9d4;
        background-color: #fff;
    }

    .deleteTextBtnArea {
        display: flex;
        background-color: white;
        padding: 0px 10px;
        width: auto;
        height: auto;
        border: 1px solid #bfc9d4;
        color: #3b3f5c;
        border-radius: 0px;
        border-left: 0;
        border-right: 0;
    }

    .deleteTextBtn {
        justify-content: center;
        align-self: center;
        background-color: white;
        width: 20px;
        content: url("/images/close-button.svg");
        cursor: pointer;
    }

    .searchDivider {
        border-left: 1px solid #bfc9d4;
        height: 50px;
    }

    .searchFilters {
        display: grid;
        grid-template-columns: 103px 20px;
        background-color: white;
        min-width: 133px;
        height: auto;
        border: 1px solid #bfc9d4;
        color: #3b3f5c;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 12px 0px 12px 20px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px 6px 6px 0px;
        border-left: 0;
        cursor: pointer;
    }

    .searchFilters:hover {
        color: #d52e30;
    }

    .searchFilterTitle {
        text-align: center;
    }

    .arrowIcon {
        align-self: center;
        width: 15px;
        height: 15px;
        content: url("/images/arrow-down.png");
    }

    .filter-dropdown-menu {
        position: absolute;
        box-sizing: border-box;
        min-width: 133px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

    .filter-dropdown-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .filter-dropdown-menu li {
        padding: 10px 30px;
        cursor: pointer;
        color: black;
    }

    .filter-dropdown-menu li:hover {
        background-color: #f0f0f0;
    }


    /* 탑메뉴 active 이외 메뉴 호버시 아이콘 문자열 빨간색 처리 */
    .topbar-nav.header nav#topbar ul.menu-categories li.menu>a:hover svg:not(.feather-chevron-down) {
        color: #d52e30;
        fill: #d52e30;
    }

    .topbar-nav.header nav#topbar ul.menu-categories li.menu a>div svg:not(.feather-chevron-down) {
        stroke-width: 1.5px;
        stroke: black;
    }

    .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="false"]>div svg:not(.feather-chevron-down),
    .topbar-nav.header nav#topbar ul.menu-categories li.menu.active a[aria-expanded="true"]>div svg:not(.feather-chevron-down) {
        stroke-width: 1.5px;
        stroke: white;
    }
</style>