<!-- NAVBAR HOME-->
<%- include('../pages/navBar/navBarSearchError') %>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <!--  BEGIN OVERLAY  -->
    <div class="overlay"></div>
    <div class="cs-overlay"></div>
    <div class="search-overlay"></div>
    <!-- END OVERLAY -->

    <!--  BEGIN CONTENT PART  -->    
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">        
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 layout-spacing">
                 <!-- Search Bar -->
                 <%- include('../pages/navBar/searchBar') %>
           
            	<div class="contract-container">
                    <div>  
                        <h3 class="section-title">
                            <span id="errorMsg">
                                Sorry, We could not find a result.
                            </span>
                        </h3>                                         
                    </div>       
                </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT PART  -->

     <!-- SEARCH FILTER MENU-->
     <div class="filter-dropdown-menu" id="drop-content" style="display: none;">
        <ul>
            <li onClick="setFilter('All Filters');"> All Filters</li>
            <li onClick="setFilter('Token Sym.');"> Token Sym.</li>
            <li onClick="setFilter('Token Name');"> Token Name</li>
            <li onClick="setFilter('Account ID');"> Account ID</li>
            <li onClick="setFilter('Account No.');"> Account No.</li>
            <li onClick="setFilter('Txn ID');"> Txn ID</li>
            <li onClick="setFilter('Block No.');"> Block No.</li>
        </ul>
    </div>
</div>

<style>
    .navbar .navbar-item .nav-item.user-profile-dropdown a.user .media img {
        width:30px;
        height:30px;
        box-shadow: 0 0px 0px rgb(0 0 0 / 7%), 0 0px 0px rgb(0 0 0 / 14%);
    }

    .layout-px-spacing {
        padding: 0 32px!important;
        min-height: calc(100vh - 125px)!important;
    }

    .layout-spacing {
        padding: 0px 10px 20px;
    }

    .layout-top-spacing {
        margin-top: 20px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 1200px;    
        max-width: 1200px;
        margin: 100px auto;
        justify-content: center;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }
 
    .contract-container {
        margin-top:100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: 1200px;       
        height: 100%;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        background-color: #fff;
        background-clip: border-box;
        padding: 20px 20px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
        box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
    }

    .form-control {
        height: auto;
    }

    .form-control:focus {
        box-shadow: 0 0 0px 0px rgb(194 213 255 / 62%);
        border: 1px solid #bfc9d4;
    }

    .input-group>.form-control:not(:first-child),
    .input-group>.custom-select:not(:first-child) {
        border-right: 0;
    }

    .input-group .input-group-prepend .input-group-text {
        border: 1px solid #bfc9d4;
        background-color: #fff;
    }

    .deleteTextBtnArea{     
        display: flex;           
        background-color: white;
        padding: 0px 10px;
        width: auto;
        height: auto;
        border: 1px solid #bfc9d4;
        color: #3b3f5c;       
        border-radius: 0px;
        border-left: 0;   
        border-right: 0;  
    }

    .deleteTextBtn{         
        justify-content: center;        
        align-self: center;        
        background-color: white;       
        width:20px;      
        content: url("/images/close-button.svg");
        cursor: pointer;
    }

    .searchDivider{       
        border-left: 1px solid #bfc9d4;      
        height: 50px;          
    }

    .searchFilters{
        display: grid;
        grid-template-columns: 103px 20px;        
        background-color: white;      
        min-width: 133px;
        height: auto;
        border: 1px solid #bfc9d4;
        color: #3b3f5c;
        font-size: 15px;       
        letter-spacing: 1px;      
        padding: 12px 0px 12px 20px;
        margin-left: 0px;
        margin-right:0px;
        border-radius: 0px 6px 6px 0px;
        border-left: 0;
        cursor: pointer;
    }  

    .searchFilters:hover {
        color: #d52e30;
    }  

    .searchFilterTitle{
        text-align: center;
    }
    
    .arrowIcon{   
        align-self: center;
        width:15px; 
        height:15px;
        content: url("/images/arrow-down.png");
    }   

    .filter-dropdown-menu {      
        position: absolute;
        box-sizing: border-box;     
        min-width: 133px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;      
    }

    .filter-dropdown-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .filter-dropdown-menu li {
        padding: 10px 30px;
        cursor: pointer;   
        color: black;     
    }

    .filter-dropdown-menu li:hover {
        background-color: #f0f0f0;
    }  

    .topbar-nav.header nav#topbar ul.menu-categories li.menu>a:hover svg:not(.feather-chevron-down) {
        color: #d52e30;
        fill: #d52e30;
    }

    .topbar-nav.header nav#topbar ul.menu-categories li.menu a > div svg:not(.feather-chevron-down) {    
        stroke-width: 1.5px;      
        stroke: black;
    }
    
</style>