<div style="margin:30px 0px -40px;">
    <div class="search-input-group-style input-group mb-3">
        <div class="input-group-prepend" id="btnSearch">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </span>
        </div>
        <input type="text" id="search" name="search" class="form-control"
            placeholder="Seach by Block No./Account Id/Account No./Transaction Hash/Token Symbol/Token Name"
            aria-label="Username" aria-describedby="basic-addon1">

            
        <span class="deleteTextBtnArea">
            <img class="deleteTextBtn" id="deleteTextBtn" style="display: none;">
        </span>
        <span class="searchDivider"></span>
        <span class="searchFilters" id="searchFilters">
            <span id="searchFilterTitle">All Filters</span>
            <span class="arrowIcon"> </span>
        </span>
    </div>
</div>